
.contact-us-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.form-div{
    /* display: flex; */
    width: 30%;
    /* background-color: #4dbd90; */
}

.form-div form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-us-img img {
    height: auto;
    width: 600px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
}

input, textarea{
    padding: 10px;
    border-radius: 3px;
    outline: none;
    font-size: 0.9rem;
    border: 1px solid #ff7e20;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
}

.form-btn {
    padding: 10px;
    background-color: #ff7e20;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    border: none;
    width: 40%;
    transition: 0.3s;
    margin: 30px 0 30px 0;
}

.form-btn:hover {
    background-color: white;
    border: 1px solid #ff7e20;
   
}

.column {
    float: left;
    width: 35%;
    padding: 10px;
    /* height: 300px;  */
  }
  
 
.row:after {
    content: "";
    display: table;
    clear: both;
}

#map {
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
    
/*======= Breadcrumbs ======= */
.breadcrumbs {
    padding: 10px;
    font-size: 20px;
}

.breadcrumbs_item {
    display: inline-block;
}

.breadcrumbs_item:not(:last-of-type)::after {
    content: '/';
    margin: 0 5px;
    color: #ccc;
}

.breadcrumbs_link {
    text-decoration: none;
}

.breadcrumbs_link:hover {
    text-decoration: underline;
}

.breadcrumbs_link_active {
    font-weight: bold;
    color: #28aa76;
}

.navbar-active {
    padding-bottom: 5px;
    border-bottom: 3px solid #28aa76;
  }